rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /urls/{id} {
      // this validations must also be implemented up front.
      // only authenticathed users can access and edit his own data
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.user;
      	// request.time < timestamp.date(2024, 11, 26);
      allow create: if request.auth != null
    }
  }
}